*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 800px;
    position: relative;

}
.slider img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

    .btn{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        }
        .btn button:hover i{
            color: red;
            background-color: blueviolet;
           
        }
        